[submodule "ext/obs_splines"]
	path = ext/obs_splines
	url = https://github.com/tru-hy/obs_splines.git
[submodule "ext/pymapmatch"]
	path = ext/pymapmatch
	url = https://github.com/tru-hy/pymapmatch.git
	branch = master
[submodule "ext/trusas_server"]
	path = ext/trusas_server
	url = https://github.com/tru-hy/trusas_server.git
