.slick-row a.view-route-link {
	display: none;
}

.slick-row:hover a.view-route-link {
	display: block;
	width: 100%;
}

body {
	background-color: #aaa;
}

.shadowtext {
	color: #f0f0f0;
	font-weight: bold;
	font-size: small;
	text-shadow: -1px 1px 1px #999;

	a{ color: #eee; }
}

#session-info {
	margin-left: 20px;
	margin-bottom: 10px;
	.shadowtext;
	}

.widget-container >div {
	background-color: white;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 10px;
	overflow: hidden;
	box-shadow: -4px 4px #999;
}

#route-map > .cesium-widget > canvas {
	width: 100%;
	height: 100%;
}

#route-seq {
	margin-bottom: 10px;

	.axis path,
	.axis line {
		fill: none;
	  	stroke: #000;
		shape-rendering: crispEdges;
	}

	.bar {
		fill: white;
		opacity: 0.4;
	}
	
	.bin {
		cursor: pointer;
	}
	/*.bin:hover .bar {
		opacity: 0.6;
	}*/

	.binc {
		opacity: 0.2;
		fill: white;
	}

	.bin.pinned .binc {
		opacity: 0.3;
	}

	.x.axis path {
  		display: none;
	}

	.binlabel {
		.shadowtext;

		div {
			box-sizing: border-box;
			padding: 5px;
			text-align: center;
		}
	}
}
